  <div class="card my-5 pa-3 text-white bg-secondary">
    <div class="card-header text-white bg-primary d-flex justify-content-between">
      <%= author.fullName %>
      <span class="badge bg-secondary rounded-pill"><%= author.id %></span>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="card text-white">
          <div class="card-body">
            <img class="card-img-top" src="<%= author.imageURL %>" alt="Author Image">
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="card text-white">
          <div class="card-body">          
            <p class="card-text"><%= author.bio %></p>
            <p class="card-text">Born: <%= author.born ? author.born : '???' %></p>
            <p class="card-text">Died: <%= author.died ? author.died : '---' %></p>
            <p class="card-text"><a href="<%= author.reference %>">Reference</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>